In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data_path = "../data/raw/WA_Fn-UseC_-HR-Employee-Attrition.csv"

In [4]:
try:
    df = pd.read_csv(data_path)
    print(" Data Loaded Successfully!")
    print(f"Shape: {df.shape}")  
except FileNotFoundError:
    print(" Error: File not found. Please check the path.")

 Data Loaded Successfully!
Shape: (1470, 35)

In [5]:
display(df.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [6]:
print("\nTarget Distribution:")
print(df['Attrition'].value_counts(normalize=True))

Target Distribution:
Attrition
No     0.838776
Yes    0.161224
Name: proportion, dtype: float64

In [7]:
print("\nMissing Values:")
print(df.isnull().sum().sum())

Missing Values:
0

In [8]:
drop_cols = ['EmployeeCount', 'Over18', 'StandardHours']
df.drop(columns=drop_cols, inplace=True, errors='ignore')
print(f"\nDropped columns: {drop_cols}")
print(f"New Shape: {df.shape}")

Dropped columns: ['EmployeeCount', 'Over18', 'StandardHours']
New Shape: (1470, 32)

In [9]:
os.makedirs('../data/processed', exist_ok=True)
df.to_csv('../data/processed/01_preprocessed.csv', index=False)
print("\n Preprocessed data saved to data/processed/01_preprocessed.csv")

 Preprocessed data saved to data/processed/01_preprocessed.csv